body{
    margin: 0px;
}
.coffee-header{
    position: fixed;
    left: 0px ;
    right: 0px;
    height: 100px;
    width: 100%;
    background-color: #0a2d42;
    z-index: 999;
}
.div-logo{
    margin: 10px;
    float: left;
    position: absolute;
    top: 0px;
    text-align: center;    
}

.logo-text{
    display: block;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.coffee-nav{
    float: right;
    height: 100%;
}

.coffee-nav a{
    color: aliceblue;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-right: 10px;
    padding-top: 12%;
    display: inline-block;   
}

.site-content{
    position: absolute;
    top: 78px;
    width: 100%;
}

.bgimage{
    background-image: url("Images/background-image.jpg");
    height: 700px;
    width: 100%;
    text-align: center;
}

.quote{
    color: rgb(255, 255, 255);
    font-family:Helvetica, sans-serif;
    position: relative;
    top: 10%;
}

#qbackground{
    background-color: #10101199;
}



.item-list{
    width: 100%;
}

#product{
    text-align: center;
}

.card{
    float: left;
    width: 22%;
    height: 300px;
    padding: 1.5%;
    text-align: center;
}

.order-div{
    width: 100%;
}

#order{
    text-align: center;
}

.form{
    width: auto;
    margin: 0 auto;
}

.form input{
    padding: 10px;
    margin: 10px;
}