*{
    font-size: 20px;
    color: blueviolet;
}

.myclass{
    color: red;
}

#myid{
    background-color: green;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}

[href="https://www.google.com/?gws_rd=ssl"]{
    color: red;
}

h1,div{
    color: blue;
}

.family-tree span{
    color: blue;
}